---
repos:
  - repo: local
    hooks:
      - id: ansible-lint
        name: Ansible-lint
        entry: bash -c 'cd rke2-homelab-ansible && ANSIBLE_CONFIG=./ansible.cfg ansible-lint .'
        language: system
        files: ^rke2-homelab-ansible/.*\.(yaml|yml)$
        pass_filenames: false
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: ['-d', 'relaxed']
        files: ^rke2-homelab-ansible/.*\.(yaml|yml)$
